
<!-- <html lang ="en" dir="ltr"> -->
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  </head>
<div class="about-section">
    <h1>Candidate Portfolio Management for WVF</h1>
        <ul>
            As a placement coordinator of WinVinaya, he/she should be able to see
            the profile details of any candidate.
            Profile data of the candidate should include and not limited to:
            Name, Contact info, batch info, Degree, Disability, YearOfPassing, work
            experience if any, a few main certificates, sign name clip of the student, SWOT
            of the student (including trainer's feedback), the academic scores at a high level.
            The student data will be uploaded by the trainer.
            Search feature: The placement coordinator should be able to search for
            the candidate profile by name, by year of pass, Stream, etc.
            
            -Build a UI to enter candidate data and to perform CRUD operations for Users
            using HTML and JavaScript, below screens will be created.
        </ul>
        <!-- <ul>
          <br>
            Create/Add records<br>
            Display/List the details<br>
            Update the records<br>
            Create more reports as needed.
        </ul> -->
</div>
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="../../assets/1.jpg" alt="Jane" style="width:100%">
        </div>
      </div>

    <div class="column">
      <div class="card">
        <img src="../../assets/2.jpg" alt="Mike" style="width:100%">
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="../../assets/3.jpg" alt="John" style="width:100%">
      </div>
    </div>
  </div>
