* {box-sizing: border-box;}

body {
  margin: 10;
  font-family: Arial, Helvetica, sans-serif;
}
.header {
    overflow: hidden;
    padding: 5px 16px;
    background: white;
    color: black;
    height: 100px;
}
.topnav {
  overflow: hidden;
  background-color: grey;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}



.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.header {
    overflow: hidden;
    padding: 5px 16px;
    background: white;
    color: black;
    height: 100px;
}
