body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1b1a1b;
    padding-top: 10px;
    padding-top: 3px;
   
    height: 200vh;
    width: 100%;
    align-items: center }
  
    label {
      display: inline-block;
      font-size: large;
    
     }


 h1 label{
    color: aliceblue;
    font-size: 30px;
 }    
     
     label.checkbox{
      font-size: large;
      font-weight: normal;
     }
  
.button{
      padding-right: 50px;
      align-items: center;
      background-color: #d8480a;
      width: 100px;
      height: 40px;
      margin: 30px;
  }
  .submit{
      padding-right: 50px;
      align-items: center;
      background-color: #0ad829;
      width: 100px;
      height: 40px;
      margin: 30px;
  }

table tr td{
      width: 500px;
      padding: 10px;
      margin-left: 10px;
     }